
#content {
  margin: 0 auto;
  width: 900px;
}

#name {
  font-size: 5em;
  text-transform:uppercase;
  border-bottom-style: solid black;
  color: green;
  width: 50%;
  min-width: 400px;
  text-align:center;
  margin: 0 auto;
}

#title {
  color: black;
  text-transform:uppercase;
  font-size:3em;
  text-align:center;
  margin: 0 auto;
}

h1 {
  color: black;
  text-transform:uppercase;
  font-size: 18px;
  margin: 0 auto;
  font-family:Helvetica,"sans-serif";
}

#byline {
  font-family: Helvetica,"sans-serif";
  font-size: 14px;
  font-style:italic;
}

p {
  font-family: Georgia, serif;
  font-size: 13px;
}

blockquote {
  display: block;
  color: green;
  font-family: Georgia, serif;
  font-style:bold;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 18px;
}
