
#content {
  margin: 0 auto;
  width: 800px;
}

#name {
  font-size: 28px;
  text-transform:uppercase;
  color: black;
  text-align:center;
  margin: 0 auto;
  font-weight: bold;
  font-family: "Times New Roman", serif;
}

#title {
  color: black;
  text-transform:uppercase;
  font-size:22px;
  text-align:center;
  margin: 0 auto;
  font-weight: bold;
  font-family: "Times New Roman", serif;
}

h1 {
  text-transform:uppercase;
  font-size: 20px;
  margin: 0 auto;
  font-family: "Times New Roman","sans-serif";
  font-weight: bold;
  color: red;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Times New Roman", "sans-serif";
  font-weight: bold;
  margin: 0 auto;
}

}
#byline {
  font-family: "Times New Roman","sans-serif";
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

img {
  width: 100%;
  height: auto;
}

p {
  font-family: "Times New Roman", "sans-serif";
  font-size: 14px;
  width: 100%;
}

body {
  font-family: "Times New Roman", "sans-serif";
  text-align: left;
  color: black;
  font-size: 14px;
}

h3 {
  border: 3px dotted red;
  color: red;
  font-size: 18px;
  line-height: 55px;
  padding: 25px 35px;
  margin: 35px 25px;
  text-align: center;
}

figcaption {
  font-family: "Times New Roman", "sans-serif";
  text-align: center;
  color: black;
  font-size: 14px;
}

blockquote{
  font-family: serif,"Times New Roman";
  font-size: 18px;
  width: 100%;
  color: red;
  font-weight: bold;
  font-style: italic;
}

a {
  color: black;
}

a:link {
  color: red;
}

a:visited {
  color: blue;
}

a:hover {
  color: black;
}

footer {
  width: 100%;
  font-family: "Times New Roman", "sans-serif";
  color: red;
  font-size: 16px;
  font-weight: bold;
}
