
#content {
  margin: 0 auto;
  width: 800px;
}

#name {
  font-size: 60px;
  text-transform:uppercase;
  color: black;
  text-align:center;
  margin: 0 auto;
  font-weight: bold;
  font-family: "Times New Roman", "sans-serif";
  background-color: red;
}

#title {
  color: black;
  text-transform:uppercase;
  font-size:48px;
  text-align:center;
  margin: 0 auto;
  font-weight: bold;
  font-family: "Times New Roman", "sans-serif";
  background-color: red;
}

h1 {
  text-transform:uppercase;
  font-size: 30px;
  margin: 0 auto;
  font-family: "Times New Roman","sans-serif";
  font-weight: bold;
  text-align: center;
}

}
#byline {
  font-size: 30px;
  font-family: "Times New Roman", "sans-serif";
  font-style: italic;
  font-weight: bold;
  color: black;
}

img {
  width: 100%;
  height: auto;
}

ficaption {
  text-align: center;
  font-family: "Times New Roman", "sans-serif";
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

p {
  font-family: "Times New Roman", "sans-serif";
  font-size: 22px;
  width: 100%;
}

body {
font-family: "Times New Roman", "sans-serif";
text-align: left;
color: black;
font-size: 14px;
}

blockquote {
  font-family: "sans-serif", "Times New Roman";
  color: red;
  text-align: center;
  font-size: 26px;
  width: 100%;
  font-style: italic;
  font-weight: bold;
  border: 1px dashed black;
  line-height: 50px;
  padding: 20px 30px;
  margin: 0 auto;
}

a {
  color: black;
}

a:link {
  color: red;
}

a:visited {
  color: purple;
}

a:hover {
  color: black;
}

footer {
  text-align: right;
  font-family: "Times New Roman", "sans-serif";
  color: black;
  font-size: 16px;
  font-weight: bold;
}
