/*Style for my Resume */

BODY {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color:#444;
  font-weight:400;
}

#container {
  width: 100%;
  max-width: 12000px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/*banner name at top of page*/
#name {
  font-size:3em;
  text-transform:uppercase;
  border-bottom-style: 1px #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}
/*Occupation*/
#title {
  color:#33485e;
  text-transform:uppercase;
  font-size:1.5em;
  font-weight: 600;
  margin: 20px 0px 0px 0px;
  text-align:center;
}
/*Work Background Info*/
.sectionheader{
  font-size:1.5em;
  text-transform:uppercase;
  background-color:#33485e;
  color:#fff;
  margin: 20px 0px 10px 0px;
  width: 70%;
  min-width: 300px;
}
/*Work Positions*/
.jobtitle{
  font-size:1.5em;
  font-weight:600;
}
/*Location of Job*/
.organization{
  font-size:1.25em;
  font-weight:400;
}
/*Dates when Working*/
.date{
  font-size:1em;
  font-weight:400;
  font-style:italic;
  margin: 2px 0px 0px 0px;
}

.description{
  margin: 10px 0px 10px 0px;
}

.menu {
  font-size:1em;
  margin: 0px;
  padding: 0px;
  text-align:center;
  display: inline;
}

#degrees{
  margin: 5px 0px 0px 0px;
}

#do{
  margin: 5px 0px 0px 0px;
}

.top{
  width: 60%;
  min-width: 300px;
  margin: 0 auto 30px auto;
}
