/*Style for my Resume */

BODY {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color:#444;
  font-weight:400;
}
/*banner name at top of page*/
.name {
  font-size:3em;
  text-transform:uppercase;
  text-align:center;
  border-bottom-style: 1px #33485e;
  width: 60%;
  minimum-width: 300px;
  margin: 0 auto;
}
/*Occupation*/
strong {
  color:#33485e;
  text-transform:uppercase;
  font-size:1.5em;
}
/*Work Background Info*/
h2{
  font-size:1.5em;
  text-transform:uppercase;
  background-color:#33485e;
  color:#fff;
}
/*Work Positions*/
h3{
  font-size:1.5em;
  font-weight:600;
}
/*Location of Job*/
h4{
  font-size:1.5em;
  font-weight:400;
}
/*Dates when Working*/
h5{
  font-size:1em;
  font-weight:400;
  font-style:italic;
}

ul {
  font-size:1em;
}
