
#content {
  margin: 0 auto;
  width: 800px;
}

#name {
  font-size: 26px;
  text-transform:uppercase;
  color: black;
  text-align:center;
  margin: 0 auto;
  font-weight: bold;
  font-family: "sans-serif", arial;
  background-color: red;
}

#title {
  color: black;
  text-transform:uppercase;
  font-size:22px;
  text-align:center;
  margin: 0 auto;
  font-weight: bold;
  font-family: "Times New Roman", arial;
  background-color: red;
}

h1 {
  text-transform:uppercase;
  font-size: 20px;
  margin: 0 auto;
  font-family: arial,"sans-serif";
  font-weight: bold;
}

}
#byline {
  font-family: arial;
  font-size: 18px;
  font-style: italic;
}

img {
  width: 100%;
  height: auto;
}

ficaption {
  text-align: center;
  font-family: arial, "sans-serif";
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

p {
  font-family: arial, "sans-serif";
  font-size: 14px;
  width: 100%;
}

body {
font-family: arial, "sans-serif";
text-align: left;
color: black;
font-size: 14px;
}

blockquote {
  font-family: "sans-serif", arial;
  color: red;
  text-align: center;
  font-size: 18px;
  width: 100%;
  font-style: italic;
  font-weight: bold;
  border: 2px dashed black;
  line-height: 50px;
  padding: 30px 40px;
  margin: 40px 30px;
}

footer {
  text-align: right;
  font-family: arial, "sans-serif";
  color: black;
  font-size: 16 px;
  font-style: bold;
}
